/* your code */
table {
  border-collapse: collapse;
  width: 100%; 
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

thead th {
  background-color: #4CAF50;
  color: white; 
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
    background-color: #ffffff; 
}

tbody tr:hover {
  background-color: #ddd;
}


